@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
